@keyframes shift {
    100% {
        left: 0;
    }
}

@keyframes unshift {
    0% {
        left: 0;
    }

    100% {
        left: -80px;
    }
}

.list {
    background-color: #33465e;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 128ms;

    &:hover {
        border-radius: 36%;

        &::before {
            transform: translate(-100%, -50%) scale(0.5);
        }

        .popper {
            opacity: 1;
            transform: translateY(-50%) scale(1);
        }
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        border-radius: 5px;
        top: 50%;
        transform: translate(-100%, -50%) scale(0);
        transition: transform 180ms;
        background-color: #6d80c5;
    }
}

.list_active {
    background-color: #4559bf;
}

.toggle_theme_active {
    transform: rotate(360deg);
}

.popper {
    background-color: black;
    padding: 0.68rem 1rem;
    position: absolute;
    top: 50%;
    left: 155%;
    transform-origin: left;
    transform: translateY(-50%) scale(0.98);
    width: max-content;
    max-width: 256px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 64ms, transform 128ms cubic-bezier(0.43, 0.09, 0.38, 2.56);
    pointer-events: none;
    color: white;

    &::before {
        content: '';
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background-color: black;
        width: 24px;
        height: 24px;
        z-index: -1;
    }
}

.list_menu_active {
    display: flex;
    opacity: 1;
    animation: shift 0.2s normal forwards;
}

.list_menu_closing {
    display: flex;
    animation: unshift 0.2s normal forwards;
}

.icon_line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #d3d3d3;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;

    &:nth-child(1) {
        stroke-dasharray: 40 121;
        fill: white;
    }

    &:nth-child(3) {
        stroke-dasharray: 40 121;
    }
}

.icon_active {
    &:nth-child(1) {
        stroke-dashoffset: -68px;
    }

    &:nth-child(3) {
        stroke-dashoffset: -68px;
    }

    transform: rotate(45deg);
}
