---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
---

<Layout title="Home">
    <main class="w-full min-h-screen">
        <header class="header">
            <Header />
        </header>
        <section id="about">
            <About />
        </section>
    </main>
</Layout>
<style>
    .header {
        height: 69vh;
        background-image: linear-gradient(to bottom, #022840, #02141f);
    }
</style>
