<section id="contact" class="min-h-screen flex justify-center items-center relative z-10 bg-[#0c2957] px-[100px] py-[50px] flex-col">
    <div class="max-w-[800px] text-center text-white mb-[15px]">
        <h1 class="text-5xl font-medium">Contact Me</h1>
        <p class="font-light mt-[15px]">Feel free to ask if you have any problems or questions, or you can ask me on Discord, Email or GitHub.</p>
    </div>

    <div class="w-full flex justify-center items-center mt-[30px]">
        <div class="w-6/12 flex-col">
            <div class="box">
                <div class="icon !text-[27px]">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 520">
                        <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
                    </svg>
                </div>

                <div class="text">
                    <h3>GitHub</h3>
                    <a href="//github.com/thezeptar" target="_blank">thezeptar</a>
                </div>
            </div>

            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512">
                        <path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z" />
                    </svg>
                </div>

                <div class="text">
                    <h3>Discord</h3>
                    <a href="//discord.com/users/1094120827601047653" target="_blank">@thezeptar</a>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </div>

                <div class="text">
                    <h3>Email</h3>
                    <a href="mailto:thezeptar@gmail.com">thezeptar@gmail.com</a>
                </div>
            </div>
        </div>

        <div class="w-2/5 p-10 bg-white">
            <form action="//formsubmit.co/thezeptar@gmail.com" method="POST">
                <h2 class="text-3xl text-[#333] font-medium">Send Message</h2>

                <div class="inputBox">
                    <input type="text" name="name" required />
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="email" required />
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="subject" required />
                    <span>Title</span>
                </div>
                <div class="inputBox">
                    <textarea name="message" required />
                    <span>Type your message...</span>
                </div>
                <div class="inputBox">
                    <input class="w-[100px] bg-[#00bcd4] text-white border-none cursor-pointer p-2.5 text-lg" type="submit" name="" value="Send" />
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    .box {
        position: relative;
        padding: 20px 0;
        display: flex;
    }

    .icon {
        min-width: 60px;
        height: 60px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22px;
    }

    .text {
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        flex-direction: column;
        font-weight: 300;
    }

    .text h3 {
        font-weight: 500;
        color: #00bcd4;
    }

    .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }

    .inputBox input,
    .inputBox textarea {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;
    }

    .inputBox span {
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        pointer-events: none;
        transition: 500ms;
        color: #666;
    }

    .inputBox input:focus ~ span,
    .inputBox input:valid ~ span,
    .inputBox textarea:focus ~ span,
    .inputBox textarea:valid ~ span {
        color: #1e8ae9;
        font-size: 12px;
        transform: translateY(-20px);
    }
</style>
