<main class="fixed min-w-full h-[69vh] bg-no-repeat bg-cover">
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 26.67 1543.12 482.98">
        <defs>
            <linearGradient id="linear-gradient" x1="-52.379" y1="24.203" x2="-52.691" y2="24.819" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#114a8b"></stop>
                <stop offset="1" stop-color="#0669bc"></stop>
            </linearGradient>
            <linearGradient id="linear-gradient-2" x1="-37.482" y1="24.489" x2="-37.534" y2="24.506" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-opacity="0.302"></stop>
                <stop offset="0.071" stop-opacity="0.2"></stop>
                <stop offset="0.321" stop-opacity="0.102"></stop>
                <stop offset="0.623" stop-opacity="0.051"></stop>
                <stop offset="1" stop-opacity="0"></stop>
            </linearGradient>
            <linearGradient id="linear-gradient-3" x1="-50.157" y1="24.183" x2="-49.831" y2="24.794" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#3ccbf4"></stop>
                <stop offset="1" stop-color="#2892df"></stop>
            </linearGradient>
        </defs>
        <g id="visual_elements" data-name="visual elements" transform="translate(-17 -56.048)">
            <g id="Group_5" data-name="Group 5" transform="translate(69.53 49)">
                <g id="Group_4" data-name="Group 4" transform="matrix(0.799, 0.602, -0.602, 0.799, 1298.789, -369.69)">
                    <path
                        id="Path_67"
                        data-name="Path 67"
                        d="M429.617,330.278a15.959,15.959,0,0,1,8.888,2.821,13.447,13.447,0,0,0,15.513,0,15.412,15.412,0,0,1,17.775,0,13.449,13.449,0,0,0,15.514,0,1.02,1.02,0,0,1,1.13,1.7,15.406,15.406,0,0,1-17.774,0,13.451,13.451,0,0,0-15.514,0,15.408,15.408,0,0,1-17.775,0,13.451,13.451,0,0,0-15.513,0,15.41,15.41,0,0,1-17.775,0,1.02,1.02,0,1,1,1.131-1.7,13.449,13.449,0,0,0,15.513,0A15.959,15.959,0,0,1,429.617,330.278Z"
                        transform="translate(0 0)"
                        fill="#fff"></path>
                    <path
                        id="Path_68"
                        data-name="Path 68"
                        d="M429.617,344.48a15.952,15.952,0,0,1,8.888,2.822,13.451,13.451,0,0,0,15.513,0,15.408,15.408,0,0,1,17.775,0,13.452,13.452,0,0,0,15.514,0,1.02,1.02,0,0,1,1.13,1.7,15.406,15.406,0,0,1-17.774,0,13.45,13.45,0,0,0-15.514,0,15.408,15.408,0,0,1-17.775,0,13.45,13.45,0,0,0-15.513,0,15.41,15.41,0,0,1-17.775,0,1.02,1.02,0,1,1,1.131-1.7,13.453,13.453,0,0,0,15.513,0A15.951,15.951,0,0,1,429.617,344.48Z"
                        transform="translate(0 1.911)"
                        fill="#fff"></path>
                    <path
                        id="Path_69"
                        data-name="Path 69"
                        d="M429.617,358.682a15.959,15.959,0,0,1,8.888,2.821,13.447,13.447,0,0,0,15.513,0,15.416,15.416,0,0,1,17.775,0,13.448,13.448,0,0,0,15.514,0,1.02,1.02,0,0,1,1.13,1.7,15.406,15.406,0,0,1-17.774,0,13.452,13.452,0,0,0-15.514,0,15.408,15.408,0,0,1-17.775,0,13.45,13.45,0,0,0-15.513,0,15.41,15.41,0,0,1-17.775,0,1.02,1.02,0,0,1,1.131-1.7,13.449,13.449,0,0,0,15.513,0A15.959,15.959,0,0,1,429.617,358.682Z"
                        transform="translate(0 3.822)"
                        fill="#fff"></path>
                    <path
                        id="Path_70"
                        data-name="Path 70"
                        d="M429.617,372.884a15.952,15.952,0,0,1,8.888,2.822,13.45,13.45,0,0,0,15.513,0,15.412,15.412,0,0,1,17.775,0,13.452,13.452,0,0,0,15.514,0,1.02,1.02,0,0,1,1.13,1.7,15.406,15.406,0,0,1-17.774,0,13.452,13.452,0,0,0-15.514,0,15.408,15.408,0,0,1-17.775,0,13.45,13.45,0,0,0-15.513,0,15.41,15.41,0,0,1-17.775,0,1.02,1.02,0,1,1,1.131-1.7,13.452,13.452,0,0,0,15.513,0A15.952,15.952,0,0,1,429.617,372.884Z"
                        transform="translate(0 5.734)"
                        fill="#fff"></path>
                </g>
            </g>
            <g id="Group_6" data-name="Group 6" transform="translate(-312.682 153.213)">
                <path id="Path_72" data-name="Path 72" d="M426.433,62.92q-.738-.6-1.491-1.163l-83.289,83.29c.379.5.765,1,1.163,1.49Z" fill="#0328f9"></path>
                <path id="Path_73" data-name="Path 73" d="M406.086,52.227c-.691-.205-1.385-.393-2.082-.572l-72.453,72.454c.179.7.367,1.391.571,2.081Z" fill="#0328f9"></path>
                <path id="Path_74" data-name="Path 74" d="M420.378,58.628q-.825-.51-1.663-.99l-81.181,81.181q.48.837.989,1.664Z" fill="#0328f9"></path>
                <path id="Path_75" data-name="Path 75" d="M413.624,55.035q-.921-.416-1.852-.8L334.13,131.876q.384.931.8,1.852Z" fill="#0328f9"></path>
                <path id="Path_76" data-name="Path 76" d="M397.593,50.373q-1.18-.168-2.366-.287l-65.246,65.246c.081.79.175,1.578.288,2.365Z" fill="#0328f9"></path>
                <path id="Path_77" data-name="Path 77" d="M431.184,67.189c-.222-.222-.447-.438-.672-.655l-84.083,84.083c.218.224.434.45.655.671s.448.438.672.655L431.839,67.86C431.621,67.636,431.406,67.41,431.184,67.189Z" fill="#0328f9"></path>
                <path id="Path_78" data-name="Path 78" d="M387.833,49.787q-1.391.03-2.779.126l-55.246,55.245q-.095,1.389-.126,2.779Z" fill="#0328f9"></path>
                <path id="Path_79" data-name="Path 79" d="M331.12,96.153l44.929-44.929q-1.8.4-3.572.919L332.039,92.581Q331.523,94.355,331.12,96.153Z" fill="#0328f9"></path>
                <path id="Path_80" data-name="Path 80" d="M448.46,113.319q.095-1.389.126-2.779l-58.151,58.15q1.392-.03,2.779-.125Z" fill="#0328f9"></path>
                <path id="Path_81" data-name="Path 81" d="M448.287,103.145c-.081-.79-.175-1.578-.287-2.365L380.675,168.1c.787.112,1.576.206,2.366.287Z" fill="#0328f9"></path>
                <path id="Path_82" data-name="Path 82" d="M358.93,58a59.921,59.921,0,0,0-21.038,21.038Z" fill="#0328f9"></path>
                <path id="Path_83" data-name="Path 83" d="M446.23,125.9q.514-1.775.919-3.572l-44.93,44.929q1.8-.4,3.573-.919Z" fill="#0328f9"></path>
                <path id="Path_84" data-name="Path 84" d="M419.339,160.481a59.929,59.929,0,0,0,21.037-21.038Z" fill="#0328f9"></path>
                <path id="Path_85" data-name="Path 85" d="M440.734,79.658q-.48-.837-.989-1.664L357.89,159.849q.825.51,1.664.99Z" fill="#0328f9"></path>
                <path id="Path_86" data-name="Path 86" d="M436.615,73.43q-.568-.751-1.162-1.49l-83.617,83.617q.736.6,1.49,1.163Z" fill="#0328f9"></path>
                <path id="Path_87" data-name="Path 87" d="M446.717,94.368c-.179-.7-.367-1.391-.571-2.081L372.182,166.25c.691.205,1.385.393,2.082.572Z" fill="#0328f9"></path>
                <path id="Path_88" data-name="Path 88" d="M444.138,86.6q-.383-.931-.8-1.853l-78.694,78.694q.921.415,1.853.8Z" fill="#0328f9"></path>
            </g>
            <path id="Path_89" data-name="Path 89" d="M67.314,398.51l39.661-74.366,39.661,74.366Z" transform="matrix(-0.174, 0.985, -0.985, -0.174, 602.265, 448.237)" fill="#ff0"></path>
            <g id="icons8-c_" data-name="icons8-c++" transform="translate(769.941 111) rotate(135)" opacity="0.554">
                <path id="Path_90" data-name="Path 90" d="M22.9,3.286a2.247,2.247,0,0,1,2.193,0L41.9,12.72A2.119,2.119,0,0,1,43,14.566V33.433a2.122,2.122,0,0,1-1.1,1.847L25.1,44.714a2.247,2.247,0,0,1-2.193,0L6.1,35.28A2.122,2.122,0,0,1,5,33.434V14.567A2.122,2.122,0,0,1,6.1,12.72Z" fill="#00549d" fill-rule="evenodd"></path>
                <path id="Path_91" data-name="Path 91" d="M5.3,34.4A1.719,1.719,0,0,1,5,33.255V14.5A2.107,2.107,0,0,1,6.094,12.66L22.842,3.28a2.41,2.41,0,0,1,2.271.008c3.343,1.872,13.371,7.459,16.714,9.331a2.093,2.093,0,0,1,.66.576Z" fill="#0086d4" fill-rule="evenodd"></path>
                <path id="Path_92" data-name="Path 92" d="M24,10A14,14,0,1,1,10,24,14.006,14.006,0,0,1,24,10Zm0,7a7,7,0,1,1-7,7A7,7,0,0,1,24,17Z" fill="#fff" fill-rule="evenodd"></path>
                <path id="Path_93" data-name="Path 93" d="M42.485,13.2a2.3,2.3,0,0,1,.506,1.784c0,3.8-.032,14.589.009,18.384a2.172,2.172,0,0,1-.323,1.127L23.593,24Z" fill="#0075c0" fill-rule="evenodd"></path>
                <path id="Path_94" data-name="Path 94" d="M31,21h2v6H31Zm7,0h2v6H38Z" fill="#fff" fill-rule="evenodd"></path>
                <path id="Path_95" data-name="Path 95" d="M29,23h6v2H29Zm7,0h6v2H36Z" fill="#fff" fill-rule="evenodd"></path>
            </g>
            <g id="icons8-visual-studio-code-2019" transform="matrix(-0.891, -0.454, 0.454, -0.891, 1477.957, 571.127)" opacity="0.55">
                <path id="Path_96" data-name="Path 96" d="M44,11.11V36.89a2.981,2.981,0,0,1-1.98,2.82L33.2,43.85,34,33V15L33.2,4.15l8.82,4.14A2.981,2.981,0,0,1,44,11.11Z" fill="#29b6f6"></path>
                <path id="Path_97" data-name="Path 97" d="M9,33.9,34,15V5.353a1.3,1.3,0,0,0-2.275-.86L4.658,29.239a2,2,0,0,0,.107,3.032s1.324,1.232,1.8,1.574A2.062,2.062,0,0,0,9,33.9Z" fill="#0277bd"></path>
                <path id="Path_98" data-name="Path 98" d="M9,14.1,34,33v9.647a1.3,1.3,0,0,1-2.275.86L4.658,18.761a2,2,0,0,1,.107-3.032s1.324-1.232,1.8-1.574A2.062,2.062,0,0,1,9,14.1Z" fill="#0288d1"></path>
            </g>
            <g id="Group_11" data-name="Group 11" transform="translate(-312.682 153.213)">
                <path id="Path_72-3" data-name="Path 72" d="M426.433,62.92q-.738-.6-1.491-1.163l-83.289,83.29c.379.5.765,1,1.163,1.49Z" fill="#03ffdf"></path>
                <path id="Path_73-3" data-name="Path 73" d="M406.086,52.227c-.691-.205-1.385-.393-2.082-.572l-72.453,72.454c.179.7.367,1.391.571,2.081Z" fill="#03ffdf"></path>
                <path id="Path_74-3" data-name="Path 74" d="M420.378,58.628q-.825-.51-1.663-.99l-81.181,81.181q.48.837.989,1.664Z" fill="#03ffdf"></path>
                <path id="Path_75-3" data-name="Path 75" d="M413.624,55.035q-.921-.416-1.852-.8L334.13,131.876q.384.931.8,1.852Z" fill="#03ffdf"></path>
                <path id="Path_76-3" data-name="Path 76" d="M397.593,50.373q-1.18-.168-2.366-.287l-65.246,65.246c.081.79.175,1.578.288,2.365Z" fill="#03ffdf"></path>
                <path id="Path_77-3" data-name="Path 77" d="M431.184,67.189c-.222-.222-.447-.438-.672-.655l-84.083,84.083c.218.224.434.45.655.671s.448.438.672.655L431.839,67.86C431.621,67.636,431.406,67.41,431.184,67.189Z" fill="#03ffdf"></path>
                <path id="Path_78-3" data-name="Path 78" d="M387.833,49.787q-1.391.03-2.779.126l-55.246,55.245q-.095,1.389-.126,2.779Z" fill="#03ffdf"></path>
                <path id="Path_79-3" data-name="Path 79" d="M331.12,96.153l44.929-44.929q-1.8.4-3.572.919L332.039,92.581Q331.523,94.355,331.12,96.153Z" fill="#03ffdf"></path>
                <path id="Path_80-3" data-name="Path 80" d="M448.46,113.319q.095-1.389.126-2.779l-58.151,58.15q1.392-.03,2.779-.125Z" fill="#03ffdf"></path>
                <path id="Path_81-3" data-name="Path 81" d="M448.287,103.145c-.081-.79-.175-1.578-.287-2.365L380.675,168.1c.787.112,1.576.206,2.366.287Z" fill="#03ffdf"></path>
                <path id="Path_82-3" data-name="Path 82" d="M358.93,58a59.921,59.921,0,0,0-21.038,21.038Z" fill="#03ffdf"></path>
                <path id="Path_83-3" data-name="Path 83" d="M446.23,125.9q.514-1.775.919-3.572l-44.93,44.929q1.8-.4,3.573-.919Z" fill="#03ffdf"></path>
                <path id="Path_84-3" data-name="Path 84" d="M419.339,160.481a59.929,59.929,0,0,0,21.037-21.038Z" fill="#03ffdf"></path>
                <path id="Path_85-3" data-name="Path 85" d="M440.734,79.658q-.48-.837-.989-1.664L357.89,159.849q.825.51,1.664.99Z" fill="#03ffdf"></path>
                <path id="Path_86-3" data-name="Path 86" d="M436.615,73.43q-.568-.751-1.162-1.49l-83.617,83.617q.736.6,1.49,1.163Z" fill="#03ffdf"></path>
                <path id="Path_87-3" data-name="Path 87" d="M446.717,94.368c-.179-.7-.367-1.391-.571-2.081L372.182,166.25c.691.205,1.385.393,2.082.572Z" fill="#03ffdf"></path>
                <path id="Path_88-3" data-name="Path 88" d="M444.138,86.6q-.383-.931-.8-1.853l-78.694,78.694q.921.415,1.853.8Z" fill="#03ffdf"></path>
            </g>
            <g id="icons8-javascript" transform="translate(1040.636 108.379) rotate(17)" opacity="0.3">
                <path id="Path_128" data-name="Path 128" d="M6,42V6H42V42Z" fill="#ffd600"></path>
                <path
                    id="Path_129"
                    data-name="Path 129"
                    d="M29.538,32.947c.692,1.124,1.444,2.2,3.037,2.2,1.338,0,2.04-.665,2.04-1.585,0-1.1-.726-1.492-2.2-2.133l-.807-.344c-2.329-.988-3.878-2.226-3.878-4.841,0-2.41,1.845-4.244,4.728-4.244a4.777,4.777,0,0,1,4.592,2.573l-2.514,1.607A2.2,2.2,0,0,0,32.46,24.8a1.4,1.4,0,0,0-1.545,1.377c0,.964.6,1.354,1.985,1.951l.807.344C36.452,29.645,38,30.839,38,33.523,38,36.415,35.716,38,32.65,38A5.9,5.9,0,0,1,27,34.632Zm-11.586.082a2.731,2.731,0,0,0,2.381,1.6c1.058,0,1.667-.418,1.667-2.043V22h3.333V33.1c0,3.367-1.953,4.9-4.805,4.9a5.848,5.848,0,0,1-5.195-3.368Z"
                    fill="#000001"></path>
            </g>
            <g id="icons8-c-sharp-logo" transform="translate(397.588 517.865) rotate(-21)" opacity="0.4">
                <path id="Path_122" data-name="Path 122" d="M22.9,3.286a2.247,2.247,0,0,1,2.193,0L41.9,12.72A2.119,2.119,0,0,1,43,14.566V33.433a2.122,2.122,0,0,1-1.1,1.847L25.1,44.714a2.247,2.247,0,0,1-2.193,0L6.1,35.28A2.122,2.122,0,0,1,5,33.434V14.567A2.122,2.122,0,0,1,6.1,12.72Z" fill="#37474f" fill-rule="evenodd"></path>
                <path id="Path_123" data-name="Path 123" d="M5.3,34.4A1.719,1.719,0,0,1,5,33.255V14.5A2.107,2.107,0,0,1,6.094,12.66L22.842,3.28a2.41,2.41,0,0,1,2.271.008c3.343,1.872,13.371,7.459,16.714,9.331a2.093,2.093,0,0,1,.66.576Z" fill="#546e7a" fill-rule="evenodd"></path>
                <path id="Path_124" data-name="Path 124" d="M24,10A14,14,0,1,1,10,24,14.006,14.006,0,0,1,24,10Zm0,7a7,7,0,1,1-7,7A7,7,0,0,1,24,17Z" fill="#fff" fill-rule="evenodd"></path>
                <path id="Path_125" data-name="Path 125" d="M42.485,13.2a2.3,2.3,0,0,1,.506,1.784c0,3.8-.032,14.589.009,18.384a2.172,2.172,0,0,1-.323,1.127L23.593,24Z" fill="#455a64" fill-rule="evenodd"></path>
                <path id="Path_126" data-name="Path 126" d="M34,20h1v8H34Zm3,0h1v8H37Z" fill="#fff" fill-rule="evenodd"></path>
                <path id="Path_127" data-name="Path 127" d="M32,25h8v1H32Zm0-3h8v1H32Z" fill="#fff" fill-rule="evenodd"></path>
            </g>
            <g id="icons8-azure" transform="matrix(0.985, -0.174, 0.174, 0.985, 1365.895, 112.576)" opacity="0.23">
                <path id="Path_118" data-name="Path 118" d="M17.634,6H28.939L17.2,40.773A1.8,1.8,0,0,1,15.495,42H6.7a1.8,1.8,0,0,1-1.8-1.8,1.82,1.82,0,0,1,.094-.576l10.935-32.4A1.8,1.8,0,0,1,17.634,6Z" fill="url(#linear-gradient)"></path>
                <path id="Path_119" data-name="Path 119" d="M34.062,29.324H16.135a.83.83,0,0,0-.567,1.437l11.52,10.752A1.811,1.811,0,0,0,28.324,42H38.475Z" fill="#0078d4"></path>
                <path id="Path_120" data-name="Path 120" d="M17.634,6a1.789,1.789,0,0,0-1.712,1.25L5.005,39.6a1.8,1.8,0,0,0,1.085,2.3A1.82,1.82,0,0,0,6.7,42h9.026a1.93,1.93,0,0,0,1.481-1.259l2.177-6.416,7.776,7.253A1.836,1.836,0,0,0,28.32,42H38.434L34,29.324l-12.931,0L28.98,6Z" fill="url(#linear-gradient-2)"></path>
                <path id="Path_121" data-name="Path 121" d="M32.074,7.225A1.8,1.8,0,0,0,30.368,6h-12.6a1.8,1.8,0,0,1,1.7,1.224l10.935,32.4a1.8,1.8,0,0,1-1.13,2.281,1.757,1.757,0,0,1-.575.1H41.3a1.8,1.8,0,0,0,1.8-1.8,1.782,1.782,0,0,0-.1-.575Z" fill="url(#linear-gradient-3)"></path>
            </g>
            <g id="Layer_2" data-name="Layer 2" transform="matrix(0.946, 0.326, -0.326, 0.946, 404.959, 233.884)" opacity="0.24">
                <g id="Layer_1" data-name="Layer 1" transform="translate(0 -0.001)">
                    <path
                        id="Path_132"
                        data-name="Path 132"
                        d="M423.768,16.588v9.5h-9.233a6.123,6.123,0,0,1-4.438-1.426c-.963-.938-1.463-2.461-1.531-4.547-.067-.919-.1-2.106-.1-3.562s.029-2.632.1-3.5a6.123,6.123,0,0,1,1.646-4.488,6.491,6.491,0,0,1,4.554-1.444h13.5V0H414.525c-4.7-.01-8.357,1.12-10.966,3.35s-3.986,5.437-4.121,9.61c-.019.918-.039,2.134-.039,3.659s.019,2.719.039,3.608q.491,12.988,14.846,12.988H432.77V16.588Z"
                        transform="translate(-360.947 0.001)"
                        fill="#e93d45"></path>
                    <path
                        id="Path_133"
                        data-name="Path 133"
                        d="M29.211,3.341Q25.308,0,18.245,0H0V16.627H8.983v-9.5h9.031a6.464,6.464,0,0,1,4.554,1.444,6.175,6.175,0,0,1,1.646,4.489c.058.881.1,2.049.1,3.5s-.039,2.642-.1,3.562a6.485,6.485,0,0,1-1.531,4.546A6.093,6.093,0,0,1,18.245,26.1H4.5v7.1h13.98q14.369,0,14.846-12.99c.029-.89.048-2.086.048-3.609s-.019-2.737-.048-3.647C33.187,8.778,31.83,5.572,29.211,3.341Z"
                        transform="translate(0 0)"
                        fill="#e93d45"></path>
                </g>
            </g>
        </g>
    </svg>

    <svg class="absolute left-[50%] top-[68px]" width="780.22" height="419.24" viewBox="0 0 925.22 459.24" xmlns="http://www.w3.org/2000/svg" style="transform: translate(-50%)">
        <defs>
            <linearGradient id="a" x1=".88" x2=".015" y1=".5" y2=".579">
                <stop stop-color="#02d8ff" offset={0}></stop>
                <stop stop-color="#d800ff" offset={1}></stop>
            </linearGradient>
        </defs>
        <g transform="translate(-511.5 -180.78)">
            <path
                transform="translate(695.37 352.08)"
                d="M72.864-129.184h29.744V0H72.864V-48.752H35.552V0H5.808V-129.184H35.552V-78.5H72.864ZM147.312,0H117.568V-129.36h29.744Zm8.8,18.832,14.256-34.848h25.344L181.456,18.832ZM269.456,0H239.712V-129.36h29.744ZM390.9,0l-5.1-15.664H345.136L339.856,0h-31.5l44-129.184h28.16L422.224,0ZM355.344-45.408h20.944L366.08-76.736Zm161.92-83.952h30.624L555.456,0H525.712l-3.168-52.8L504.592,0H474.848L455.84-54.912,452.32,0H422.4l8.272-129.36H461.3L489.632-48.4Z"
                fill="#fff"
            >
            </path>
            <path
                transform="translate(677 380)"
                width="190px"
                height="190px"
                d="M 452.77 142.442 L 452.2 142.442 Q 441.56 142.442 432.06 138.547 Q 422.56 134.652 415.15 127.432 Q 407.55 119.832 403.465 110.332 Q 399.38 100.832 399.19 90.002 L 399.19 2.792 L 431.3 2.792 L 431.3 89.812 Q 431.3 98.172 437.57 104.442 Q 443.84 110.332 452.39 110.332 Q 456.57 110.332 460.37 108.622 Q 464.17 106.912 467.02 104.062 Q 469.87 101.212 471.39 97.412 A 21.601 21.601 0 0 0 472.901 89.921 A 24.754 24.754 0 0 0 472.91 89.242 L 472.91 2.792 L 505.02 2.792 L 505.02 89.052 A 54.751 54.751 0 0 1 505.028 90.012 A 49.838 49.838 0 0 1 501.125 109.572 Q 497.04 119.262 489.915 126.482 Q 482.79 133.702 473.195 137.977 Q 463.6 142.252 452.77 142.442 Z M 111.34 142.442 L 0 142.442 L 58.33 34.142 L 7.6 34.142 L 7.6 1.842 L 112.1 2.032 L 53.77 110.332 L 111.34 110.332 L 111.34 142.442 Z M 176.32 97.412 L 208.43 97.412 Q 208.43 103.112 210.9 106.247 A 32.822 32.822 0 0 0 212.244 107.852 Q 213.627 109.393 214.806 110.219 A 7.831 7.831 0 0 0 215.27 110.522 Q 218.69 112.802 222.68 112.992 Q 226.67 113.182 230.47 111.472 A 15.134 15.134 0 0 0 232.666 110.321 A 10.967 10.967 0 0 0 234.745 108.622 A 19.228 19.228 0 0 0 236.013 107.143 Q 236.599 106.381 237.026 105.638 A 11.064 11.064 0 0 0 237.215 105.297 A 10.513 10.513 0 0 0 237.904 103.705 A 8.028 8.028 0 0 0 238.26 102.162 A 33.046 33.046 0 0 0 238.36 101.267 Q 238.447 100.374 238.45 99.734 A 9.698 9.698 0 0 0 238.45 99.692 A 12.424 12.424 0 0 0 238.431 99.042 Q 238.392 98.292 238.268 97.289 A 39.348 39.348 0 0 0 238.26 97.222 A 8.578 8.578 0 0 0 237.887 95.604 Q 237.645 94.869 237.266 94.095 A 14.175 14.175 0 0 0 237.215 93.992 A 11.548 11.548 0 0 0 235.972 92.046 A 15.189 15.189 0 0 0 234.745 90.667 A 13.208 13.208 0 0 0 233.001 89.215 Q 231.883 88.428 230.47 87.722 A 39.68 39.68 0 0 0 227.175 86.403 A 44.974 44.974 0 0 0 226.005 86.012 A 145.675 145.675 0 0 1 223.559 85.204 A 175.594 175.594 0 0 1 220.97 84.302 A 224.762 224.762 0 0 1 213.631 81.808 A 257.945 257.945 0 0 1 211.09 80.882 A 53.179 53.179 0 0 1 203.555 77.374 A 62.375 62.375 0 0 1 200.83 75.752 Q 194.18 71.572 189.62 65.302 Q 185.06 59.032 183.065 51.812 Q 181.07 44.592 181.735 36.897 Q 182.4 29.202 186.01 22.172 Q 189.43 15.712 194.56 10.962 Q 199.69 6.212 205.96 3.457 Q 212.23 0.702 219.45 0.132 A 42.453 42.453 0 0 1 222.792 0 A 45.309 45.309 0 0 1 234.08 1.462 A 43.683 43.683 0 0 1 245.317 5.767 A 40.54 40.54 0 0 1 247.19 6.877 Q 253.08 10.582 257.355 15.807 Q 261.63 21.032 263.91 27.492 Q 266.19 33.952 266.19 40.982 L 234.08 40.982 A 10.779 10.779 0 0 0 233.865 38.748 Q 233.588 37.444 232.955 36.483 A 5.232 5.232 0 0 0 231.325 34.902 Q 228.57 33.192 226.48 32.622 A 2.005 2.005 0 0 1 226.301 32.612 Q 225.87 32.572 224.854 32.372 A 52.703 52.703 0 0 1 224.675 32.337 Q 223.25 32.052 221.445 32.337 A 10.275 10.275 0 0 0 219.268 32.943 A 13.41 13.41 0 0 0 217.74 33.667 A 6.872 6.872 0 0 0 215.488 35.685 A 9.229 9.229 0 0 0 214.7 36.992 A 8.611 8.611 0 0 0 213.787 40.225 Q 213.685 41.602 214.043 43.033 A 10.21 10.21 0 0 0 214.13 43.357 Q 215.08 46.682 217.93 48.582 Q 220.59 50.102 223.82 51.337 A 118.155 118.155 0 0 0 228.879 53.136 A 135.241 135.241 0 0 0 230.66 53.712 Q 233.89 54.662 237.215 55.802 A 81.54 81.54 0 0 1 243.106 58.087 A 89.668 89.668 0 0 1 243.96 58.462 Q 256.5 64.162 263.625 75.182 Q 270.75 86.202 270.75 99.692 Q 270.75 112.992 263.625 124.012 Q 256.5 135.032 243.96 140.732 Q 239.02 143.012 233.89 144.057 Q 228.76 145.102 223.63 145.102 Q 216.98 145.102 210.425 143.297 Q 203.87 141.492 197.98 137.692 Q 187.72 131.042 182.02 120.497 Q 176.32 109.952 176.32 97.412 Z M 391.59 23.122 L 368.98 45.732 Q 363.47 40.222 356.44 37.467 Q 349.41 34.712 342.19 34.712 Q 334.97 34.712 328.035 37.467 Q 321.1 40.222 315.59 45.732 Q 310.27 51.242 307.42 58.082 Q 304.57 64.922 304.57 72.522 Q 304.57 80.122 307.42 86.867 Q 310.27 93.612 315.59 99.122 Q 321.1 104.632 328.035 107.387 Q 334.97 110.142 342.19 110.142 Q 349.41 110.142 356.44 107.387 Q 363.47 104.632 368.98 99.122 L 391.59 121.922 A 68.121 68.121 0 0 1 372.131 135.697 A 64.714 64.714 0 0 1 368.6 137.217 Q 355.87 142.252 342.19 142.252 Q 328.7 142.252 315.875 137.217 A 67.12 67.12 0 0 1 292.83 121.962 A 77.765 77.765 0 0 1 292.79 121.922 Q 282.91 111.852 277.685 99.217 Q 272.46 86.582 272.46 72.522 Q 272.46 58.272 277.685 45.637 Q 282.91 33.002 292.79 23.122 Q 303.05 12.862 315.97 7.732 Q 328.89 2.602 342.285 2.602 Q 355.68 2.602 368.505 7.732 Q 381.33 12.862 391.59 23.122 Z M 607.24 142.442 L 524.21 142.442 L 524.21 2.792 L 556.32 2.792 L 556.32 110.332 L 607.24 110.332 L 607.24 142.442 Z M 163.21 142.442 L 131.1 142.442 L 131.1 2.792 L 163.21 2.792 L 163.21 142.442 Z"
                fill="url(#a)"
            >
            </path>
            <text transform="translate(675 563)" fill="#fff" style="font-family: 'Raleway'; font-size: 18px;" letter-spacing=".294em">DEVELOPER—PROGRAMMER—DESIGNER—GAMER</text>
            <g transform="translate(-456.96 -450.17)" xmlns="http://www.w3.org/2000/svg">
                <path transform="translate(-105.68 -276.56)" d="m1812.5 1315.4a1.686 1.686 0 1 1-1.664 1.686 1.674 1.674 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-105.68 -301.7)" d="m1812.5 1371.5a1.686 1.686 0 1 1-1.664 1.686 1.674 1.674 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-84.544 -276.56)" d="m1765.3 1315.4a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-84.544 -301.7)" d="m1765.3 1371.5a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-63.408 -276.56)" d="m1718.1 1315.4a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-63.408 -301.7)" d="m1718.1 1371.5a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-42.272 -276.56)" d="m1671 1315.4a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-42.272 -301.7)" d="m1671 1371.5a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-21.136 -276.56)" d="m1623.8 1315.4a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-21.136 -301.7)" d="m1623.8 1371.5a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36)" d="m2048.4 698.12a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -25.142)" d="m2048.4 754.24a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -50.283)" d="m2048.4 810.36a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -75.425)" d="m2048.4 866.47a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -100.57)" d="m2048.4 922.59a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -125.71)" d="m2048.4 978.7a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -150.85)" d="m2048.4 1034.8a1.686 1.686 0 1 1-1.664 1.685 1.674 1.674 0 0 1 1.664-1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -175.99)" d="m2048.4 1090.9a1.686 1.686 0 1 1-1.664 1.685 1.675 1.675 0 0 1 1.664-1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -201.13)" d="m2048.4 1147.1a1.686 1.686 0 1 1-1.664 1.685 1.674 1.674 0 0 1 1.664-1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -226.28)" d="m2048.4 1203.2a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -251.42)" d="m2048.4 1259.3a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -276.56)" d="m2048.4 1315.4a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-211.36 -301.7)" d="m2048.4 1371.5a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#383838"></path>
                <ellipse transform="translate(1809.3 698.12)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <path transform="translate(-190.22 -25.142)" d="m2001.2 754.24a1.686 1.686 0 1 1-1.663 1.686 1.675 1.675 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-190.22 -50.283)" d="m2001.2 810.36a1.686 1.686 0 1 1-1.663 1.686 1.675 1.675 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-190.22 -75.425)" d="m2001.2 866.47a1.686 1.686 0 1 1-1.663 1.686 1.675 1.675 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <ellipse transform="translate(1809.3 822.02)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(1809.3 853)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(1809.3 883.97)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(1809.3 914.94)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(1809.3 945.92)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(1809.3 976.89)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(1809.3 1007.9)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <path transform="translate(-190.22 -276.56)" d="m2001.2 1315.4a1.686 1.686 0 1 1-1.663 1.686 1.675 1.675 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-190.22 -301.7)" d="m2001.2 1371.5a1.686 1.686 0 1 1-1.663 1.686 1.675 1.675 0 0 1 1.663-1.686z" fill="#383838"></path>
                <path transform="translate(-169.09)" d="m1954 698.12a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -25.142)" d="m1954 754.24a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -50.283)" d="m1954 810.36a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -75.425)" d="m1954 866.47a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -100.57)" d="m1954 922.59a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -125.71)" d="m1954 978.7a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -150.85)" d="m1954 1034.8a1.686 1.686 0 1 1-1.664 1.685 1.674 1.674 0 0 1 1.664-1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -175.99)" d="m1954 1090.9a1.686 1.686 0 1 1-1.664 1.685 1.674 1.674 0 0 1 1.664-1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -201.13)" d="m1954 1147.1a1.686 1.686 0 1 1-1.664 1.685 1.674 1.674 0 0 1 1.664-1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -226.28)" d="m1954 1203.2a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -251.42)" d="m1954 1259.3a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -276.56)" d="m1954 1315.4a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-169.09 -301.7)" d="m1954 1371.5a1.686 1.686 0 1 1-1.664 1.686 1.675 1.675 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-147.95 -276.56)" d="m1906.8 1315.4a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-147.95 -301.7)" d="m1906.8 1371.5a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-126.82 -276.56)" d="m1859.7 1315.4a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-126.82 -301.7)" d="m1859.7 1371.5a1.686 1.686 0 1 1-1.663 1.686 1.674 1.674 0 0 1 1.663-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(0 -276.56)" d="m1576.6 1315.4a1.686 1.686 0 1 1-1.664 1.686 1.674 1.674 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
                <path transform="translate(0 -301.7)" d="m1576.6 1371.5a1.686 1.686 0 1 1-1.664 1.686 1.674 1.674 0 0 1 1.664-1.686z" fill="#f2f2f2"></path>
            </g>
            <g transform="translate(570.5 163.78)" xmlns="http://www.w3.org/2000/svg">
                <path transform="translate(-1680.6 -1284.4)" d="m1812.5 1318.8a1.686 1.686 0 1 1 1.664-1.686 1.674 1.674 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1680.6 -1371.5)" d="m1812.5 1374.9a1.686 1.686 0 1 1 1.664-1.686 1.674 1.674 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1607.4 -1284.4)" d="m1765.3 1318.8a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1607.4 -1371.5)" d="m1765.3 1374.9a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1534.2 -1284.4)" d="m1718.1 1318.8a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1534.2 -1371.5)" d="m1718.1 1374.9a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1461 -1284.4)" d="m1671 1318.8a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1461 -1371.5)" d="m1671 1374.9a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1387.8 -1284.4)" d="m1623.8 1318.8a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1387.8 -1371.5)" d="m1623.8 1374.9a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -326.43)" d="m2048.4 701.5a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -413.52)" d="m2048.4 757.61a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -500.61)" d="m2048.4 813.73a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -587.7)" d="m2048.4 869.84a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -674.79)" d="m2048.4 925.96a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -761.88)" d="m2048.4 982.08a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -848.98)" d="m2048.4 1038.2a1.686 1.686 0 1 1 1.664-1.685 1.674 1.674 0 0 1-1.664 1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -936.06)" d="m2048.4 1094.3a1.686 1.686 0 1 1 1.664-1.685 1.675 1.675 0 0 1-1.664 1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -1023.2)" d="m2048.4 1150.4a1.686 1.686 0 1 1 1.664-1.685 1.674 1.674 0 0 1-1.664 1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -1110.2)" d="m2048.4 1206.5a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -1197.3)" d="m2048.4 1262.7a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -1284.4)" d="m2048.4 1318.8a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-2046.7 -1371.5)" d="m2048.4 1374.9a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#383838"></path>
                <ellipse transform="translate(26.04 371.69)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <path transform="translate(-1973.5 -413.52)" d="m2001.2 757.61a1.686 1.686 0 1 1 1.663-1.686 1.675 1.675 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1973.5 -500.61)" d="m2001.2 813.73a1.686 1.686 0 1 1 1.663-1.686 1.675 1.675 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1973.5 -587.7)" d="m2001.2 869.84a1.686 1.686 0 1 1 1.663-1.686 1.675 1.675 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <ellipse transform="translate(26.04 247.8)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(26.04 216.82)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(26.04 185.85)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(26.04 154.87)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(26.04 123.9)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(26.04 92.923)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <ellipse transform="translate(26.04 61.949)" cx="1.663" cy="1.686" rx="1.663" ry="1.686" fill="#f2f2f2"></ellipse>
                <path transform="translate(-1973.5 -1284.4)" d="m2001.2 1318.8a1.686 1.686 0 1 1 1.663-1.686 1.675 1.675 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1973.5 -1371.5)" d="m2001.2 1374.9a1.686 1.686 0 1 1 1.663-1.686 1.675 1.675 0 0 1-1.663 1.686z" fill="#383838"></path>
                <path transform="translate(-1900.3 -326.43)" d="m1954 701.5a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -413.52)" d="m1954 757.61a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -500.61)" d="m1954 813.73a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -587.7)" d="m1954 869.84a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -674.79)" d="m1954 925.96a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -761.88)" d="m1954 982.08a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -848.98)" d="m1954 1038.2a1.686 1.686 0 1 1 1.664-1.685 1.674 1.674 0 0 1-1.664 1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -936.06)" d="m1954 1094.3a1.686 1.686 0 1 1 1.664-1.685 1.674 1.674 0 0 1-1.664 1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -1023.2)" d="m1954 1150.4a1.686 1.686 0 1 1 1.664-1.685 1.674 1.674 0 0 1-1.664 1.685z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -1110.2)" d="m1954 1206.5a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -1197.3)" d="m1954 1262.7a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -1284.4)" d="m1954 1318.8a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1900.3 -1371.5)" d="m1954 1374.9a1.686 1.686 0 1 1 1.664-1.686 1.675 1.675 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1827.1 -1284.4)" d="m1906.8 1318.8a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1827.1 -1371.5)" d="m1906.8 1374.9a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1753.8 -1284.4)" d="m1859.7 1318.8a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1753.8 -1371.5)" d="m1859.7 1374.9a1.686 1.686 0 1 1 1.663-1.686 1.674 1.674 0 0 1-1.663 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1314.6 -1284.4)" d="m1576.6 1318.8a1.686 1.686 0 1 1 1.664-1.686 1.674 1.674 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
                <path transform="translate(-1314.6 -1371.5)" d="m1576.6 1374.9a1.686 1.686 0 1 1 1.664-1.686 1.674 1.674 0 0 1-1.664 1.686z" fill="#f2f2f2"></path>
            </g>
        </g>
    </svg>
</main>
<style>
    .stars2::after,
    .stars3:after,
    .stars::after {
        content: ' ';
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .stars {
        animation: 24.5s ease-in-out infinite animateStars;
    }

    .stars2,
    .stars2::after {
        width: 2px;
        height: 2px;
        background: 0 0;
        box-shadow: 0 20px 1209px #fff, 724px 109px #fff, 1722px 743px #fff, 672px 1034px #fff, 1003px 1939px #fff, 1702px 1527px #fff, 1520px 103px #fff, 552px 1124px #fff, 1209px 730px #fff, 527px 438px #fff, 962px 940px #fff, 1670px 35px #fff, 1877px 1741px #fff, 889px 276px #fff, 81px 334px #fff, 1914px 1460px #fff, 1849px 322px #fff, 1215px 1323px #fff, 772px 742px #fff, 1983px 1170px #fff,
            1647px 497px #fff, 148px 1755px #fff, 164px 777px #fff, 1353px 693px #fff, 1456px 717px #fff, 1239px 1628px #fff, 495px 1745px #fff, 1914px 595px #fff, 540px 1549px #fff, 1039px 1818px #fff, 1763px 669px #fff, 1168px 1395px #fff, 1741px 889px #fff, 13px 1392px #fff, 1241px 842px #fff, 1730px 1784px #fff, 1651px 1542px #fff, 1022px 729px #fff, 696px 1693px #fff, 1074px 1003px #fff,
            369px 1636px #fff, 1908px 982px #fff, 1800px 1399px #fff, 118px 1739px #fff, 496px 1925px #fff, 1480px 924px #fff, 1279px 536px #fff, 8px 987px #fff, 1227px 1929px #fff, 268px 1351px #fff, 1889px 1591px #fff, 997px 975px #fff, 1937px 1805px #fff, 987px 830px #fff, 188px 1090px #fff, 1675px 912px #fff, 1148px 417px #fff, 920px 1058px #fff, 1587px 1912px #fff, 340px 1422px #fff,
            1329px 1181px #fff, 407px 366px #fff, 753px 1149px #fff, 23px 1174px #fff, 1434px 1090px #fff, 1640px 1980px #fff, 145px 1273px #fff, 561px 205px #fff, 1178px 1028px #fff, 1241px 1939px #fff, 671px 1806px #fff, 1835px 1404px #fff, 45px 267px #fff, 1161px 1829px #fff, 1756px 59px #fff, 1054px 600px #fff, 1571px 1360px #fff, 863px 1002px #fff, 1698px 1445px #fff, 862px 1655px #fff,
            343px 1756px #fff, 1102px 1502px #fff, 580px 1184px #fff, 368px 977px #fff, 1024px 1382px #fff, 1728px 593px #fff, 84px 948px #fff, 1827px 262px #fff, 1663px 797px #fff, 1957px 1259px #fff, 1393px 1717px #fff, 347px 1357px #fff, 1483px 1608px #fff, 1389px 36px #fff, 74px 118px #fff, 327px 429px #fff, 665px 1820px #fff, 413px 295px #fff, 264px 1335px #fff, 36px 1671px #fff,
            991px 581px #fff, 144px 1524px #fff, 1125px 805px #fff, 381px 938px #fff, 466px 1243px #fff, 158px 21px #fff, 265px 990px #fff, 250px 1235px #fff, 729px 1421px #fff, 315px 1718px #fff, 1556px 720px #fff, 417px 775px #fff, 1602px 374px #fff, 202px 573px #fff, 1412px 866px #fff, 600px 1827px #fff, 1131px 1679px #fff, 681px 184px #fff, 114px 1322px #fff, 870px 434px #fff,
            1308px 1024px #fff, 505px 568px #fff, 780px 410px #fff, 1174px 737px #fff, 1764px 1452px #fff, 458px 1213px #fff, 877px 1855px #fff, 1979px 62px #fff, 1607px 280px #fff, 194px 1677px #fff, 151px 979px #fff, 739px 1759px #fff, 1441px 1779px #fff, 175px 212px #fff, 1395px 1154px #fff, 29px 1738px #fff, 1104px 1713px #fff, 1599px 1933px #fff, 81px 1995px #fff, 1741px 99px #fff,
            814px 1963px #fff, 896px 76px #fff, 1073px 1394px #fff, 1375px 1121px #fff, 471px 992px #fff, 1940px 1208px #fff, 816px 703px #fff, 1413px 1189px #fff, 1148px 521px #fff, 466px 470px #fff, 1528px 875px #fff, 338px 72px #fff, 235px 339px #fff, 1664px 188px #fff, 1208px 738px #fff, 1415px 1186px #fff, 788px 957px #fff, 1674px 256px #fff, 528px 418px #fff, 1129px 1274px #fff,
            1793px 200px #fff, 573px 1383px #fff, 383px 833px #fff, 136px 1977px #fff, 1021px 937px #fff, 1080px 1681px #fff, 1499px 618px #fff, 69px 1881px #fff, 713px 309px #fff, 1724px 1818px #fff, 241px 504px #fff, 1612px 907px #fff, 120px 1829px #fff, 1840px 810px #fff, 1672px 1822px #fff, 1332px 1945px #fff, 386px 982px #fff, 1689px 704px #fff, 1952px 345px #fff, 1584px 1541px #fff,
            403px 873px #fff, 638px 1326px #fff, 904px 1683px #fff, 1897px 220px #fff, 1302px 673px #fff, 287px 1644px #fff, 1868px 169px #fff, 1191px 1456px #fff, 957px 744px #fff, 1447px 73px #fff, 1834px 1436px #fff, 1198px 1652px #fff, 1289px 266px #fff, 58px 168px #fff, 1347px 1258px #fff, 1663px 141px #fff, 1781px 544px #fff, 1512px 1467px #fff, 688px 209px #fff, 1568px 152px #fff;
    }

    .stars2 {
        animation: 26s ease-in-out infinite animateStars;
        border-radius: 50%;
    }

    .stars2::after {
        border-radius: 50%;
    }

    .stars3,
    .stars3:after {
        width: 3px;
        height: 3px;
        background: 0 0;
        box-shadow: 0 495px 635px #fff, 679px 1762px #fff, 590px 1064px #fff, 1472px 223px #fff, 1574px 1304px #fff, 828px 863px #fff, 733px 1899px #fff, 1245px 1427px #fff, 1441px 462px #fff, 748px 1646px #fff, 1534px 193px #fff, 1889px 1192px #fff, 654px 629px #fff, 1188px 1511px #fff, 1313px 1072px #fff, 731px 337px #fff, 885px 1378px #fff, 1643px 1142px #fff, 844px 881px #fff, 896px 45px #fff,
            325px 1781px #fff, 1073px 545px #fff, 1926px 1509px #fff, 776px 839px #fff, 1657px 406px #fff, 1209px 1585px #fff, 1188px 1312px #fff, 70px 1986px #fff, 1280px 1969px #fff, 87px 1079px #fff, 437px 1628px #fff, 707px 1445px #fff, 1459px 1400px #fff, 1923px 697px #fff, 65px 566px #fff, 1953px 739px #fff, 624px 649px #fff, 313px 394px #fff, 1588px 937px #fff, 1076px 572px #fff,
            774px 786px #fff, 1414px 367px #fff, 109px 1345px #fff, 1531px 1189px #fff, 203px 645px #fff, 893px 47px #fff, 1525px 1683px #fff, 300px 119px #fff, 381px 1839px #fff, 1314px 1368px #fff, 933px 308px #fff, 1449px 812px #fff, 460px 1380px #fff, 11px 929px #fff, 406px 1113px #fff, 1623px 1523px #fff, 1464px 685px #fff, 1033px 463px #fff, 1646px 1471px #fff, 1477px 605px #fff,
            1318px 1728px #fff, 1358px 1926px #fff, 1650px 729px #fff, 983px 1610px #fff, 1562px 467px #fff, 1009px 678px #fff, 1794px 748px #fff, 311px 937px #fff, 45px 1240px #fff, 498px 782px #fff, 1196px 60px #fff, 827px 1131px #fff, 1024px 1856px #fff, 1645px 40px #fff, 1936px 1877px #fff, 1912px 234px #fff, 1455px 1116px #fff, 850px 655px #fff, 1068px 472px #fff, 1366px 894px #fff,
            105px 382px #fff, 634px 664px #fff, 984px 1358px #fff, 1200px 592px #fff, 1615px 441px #fff, 172px 307px #fff, 1370px 701px #fff, 599px 1981px #fff, 361px 970px #fff, 1555px 394px #fff, 1221px 1519px #fff, 172px 916px #fff, 1457px 363px #fff, 1920px 1164px #fff, 687px 1418px #fff, 1258px 1847px #fff, 4px 146px #fff, 345px 1360px #fff, 1838px 660px #fff, 167px 564px #fff;
        border-radius: 50%;
    }

    .stars3 {
        animation: 27.5s ease-in-out infinite animateStars;
    }

    @keyframes animateStars {
        0%,
        100%,
        50% {
            transform: rotate3d(-1, 1, 0, 0deg);
        }

        25% {
            transform: rotate3d(-1, 1, 0, 30deg);
        }

        75% {
            transform: rotate3d(-1, 1, 0, -30deg);
        }
    }
</style>
