---
import Navbar from '../components/Navbar.jsx';

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Zeptar" />
        <meta name="generator" content={Astro.generator} />
        <meta name="keywords" content="zeptar, portfolio, programming" />
        <meta name="abstract" content="A small portfolio of a developer." />
        <meta name="theme-color" content="#1e1233" />
        <meta name="description" content="Zeptar's portfolio homepage" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:image" content="/images/banner.png" />
        <meta property="og:image:alt" content="Banner" />
        <meta property="og:image:width" content="2500px" />
        <meta property="og:image:height" content="750px" />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="manifest" crossorigin="use-credentials" href="/site.webmanifest" />
        <link rel="canonical" href="https://zeptar.vercel.app/#" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <title>{title} — Zeptar</title>
    </head>
    <body>
        <main class="h-screen w-full">
            <div id="bar"></div>

            <Navbar client:load />
            <slot />
        </main>
        <script async>
            window.onscroll = function onscroll() {
                const scrollPercent = (window.scrollY / (Math.max(document.body.scrollHeight, document.documentElement.scrollHeight) - window.innerHeight ?? document.documentElement.clientHeight)) * 100;
                const bar = document.getElementById('bar');

                scrollPercent > 98 ? (bar.style.height = '105%') : (bar.style.height = `${scrollPercent}%`);
            };
        </script>
    </body>
</html>
<style is:global>
    * {
        padding: 0;
        font-family: 'Rubik', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    #bar {
        z-index: 100;
        position: fixed;
        top: 0;
        right: 0;
        width: 13px;
        border-bottom-left-radius: 25px;
        background: linear-gradient(to top, #45a0fc, #ed45fc, #fcb045);
    }

    ::selection {
        color: white;
        background: rgba(111, 0, 255, 0.451);
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @font-face {
        font-family: 'TheBoldFont';
        src: url('/fonts/The Bold Font/theboldfont-webfont.woff2') format('woff2'), url('/fonts/The Bold Font/theboldfont-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Rubik';
        src: url('/fonts/Rubik/rubik-regular-webfont.woff2') format('woff2'), url('/fonts/Rubik/rubik-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Raleway';
        src: url('/fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'), url('/fonts/Raleway/Raleway-ExtraLight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
